@import url("https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Tajawal", sans-serif; */
    }
    
.body{
min-height: 150vh;
display: flex;
justify-content: center;
width: 100%;
background-color: #fff;
direction: rtl;
text-align: right;
}

.page-title {
  text-align: right;
  color: #015e87;
  font-weight: bold;
  padding: 20px;
}

.container{
  position: relative;
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  box-shadow:0 5px 10px #c5c4c4 ;
  height:1000px;
}
.container header{
  font-size: 20px;
  font-weight: 600;
  color: #015e87;
}
.container header::before {
  content: "";
  position: absolute;
  width: 12%;
  height: 3px;
  border-radius: 8px;
  background-color: #c5c4c4;
  top: 65px;

}
.container form{
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  background-color: #fff;

}
.container form .form{
  position: absolute;
  background-color: #fff;
}

.container form .details{
  margin-top: 30px;

}
.container form .title {
 display: block;
 margin-bottom: 8px;
 font-size: 16px;
 font-weight: 500;
 margin: 6px 0;
 color: #f5835f;
 border: 1px solid #f5835f;
 border-radius: 4px;
 padding: 4px;
 width: fit-content;
}
.container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container form .workfields{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container form .input-field {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  width: calc(100% /3 - 15px);
}
.input-field label{
  font-size: 15px;
  font-weight: 500;
  color: #015e87;
  margin: 5px;
}
.required-indicator{
  color: rgb(249, 48, 48);
}

select {
  color: #f5835f;
}

.input-field input ,#gender{
  outline: none;
  font-size: 15px;
  font-weight: 400;
  border-radius: 3px;
  border: 1px solid #c5c4c4;
  padding: 15px;
  height: 42x;
  margin: 8px 0;
}
#gender{
  margin:5px 0;
}
.input-field input:is(:focus ,:valid),#gender:is(:focus ,:valid){
  box-shadow: 0 2px 2px #c5c4c4;
}
.input-field input[type="date"]:valid{
  color: #929090;
}
.container form .btn,.closebtn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 25px 0; 
  background-color: #015e87;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 15px;
  font-size: 15px;
}
.closebtn{
  background-color:  rgb(249, 48, 48);
}
form button:hover{
  background-color: #f5835f;
}
form button i{
  margin: 0 6px;
}
form .buttons{
display: flex;
align-items: center;
gap: 15px;
}


@media (max-width: 430px) {
 .container {
   padding: 15px;
   height: 1500px;
 }

 .container form .fields , .container form .workfields {
   flex-direction: column;
 }

 .container form .input-field {
   width: 100%;
 }

 .container form .btn {
   max-width: none;
   width: 100%;
 }
 .container header::before {
   content: "";
   position: absolute;
   width: 20%;
   height: 3px;
   border-radius: 8px;
   background-color: #c5c4c4;
   top: 55px;
 }
}
