<mat-card >
    <div class="page-title">
      <h1 class="fs-3 fw-bold">المجموعات</h1>
      <hr>
    </div>
  
    <mat-card-header dir="rtl" >
      <mat-form-field class="customInput" appearance="outline" style="border: none;">
        <mat-label class="input">بحث</mat-label>
        <mat-icon class="icon" matPrefix>search</mat-icon>
        <input matInput (keyup)="Filterchange($event)">
      </mat-form-field>
  
    </mat-card-header>
    
  
    <mat-card-content dir="rtl">
      <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8 center-text MainTable" >
  
        <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>الهوية</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container> -->

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>اسم المجموعة</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
  
        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef>القسم</th>
          <td mat-cell *matCellDef="let element">{{ element.department }}</td>
        </ng-container>
  
      
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>العمليات</th>
          <td mat-cell class="mt-3" *matCellDef="let element">
            <button (click)="editRole(element.id)" mat-button style="color: #015e87;" mat-button><mat-icon>edit</mat-icon> </button>
            
            <button (click)="deleteRole(element.id)" mat-button style="color: #ff0000;" mat-button class="editIcon"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
    <br />
    <mat-card-footer>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons 
      ></mat-paginator>
    </mat-card-footer>
    
    <div class="row">
        <div class="col-md-11 mt-5 text-start">
            <button class="btn bgBlue" (click)="addRole()">
                إضافة جديد
            </button>
        </div>
    </div>

  </mat-card>


  