<!-- <div class="body">
    <div class="container">
        <div class="page-title">
            <h1 class="fs-3 fw-bold">إضافة قسم</h1>
            <hr>
          </div>
          
          <form [formGroup]="deptForm" (ngSubmit)="save()">
                <div class="fields">
                  <div class="input-field">
                    <label>اسم القسم
                      <span class="required-indicator">*</span>
                    </label>
                    <input type="text" formControlName="departmentName" placeholder=" اسم القسم">
                    <mat-error *ngIf="departmentName.invalid && (departmentName.touched || departmentName.dirty)">يجب إدخال اسم القسم</mat-error>
                  </div>
                </div>
                 <div dir="ltr" class="buttons">
                <button class="btn" mat-raised-button >
                    <span>حفظ</span>
                </button>
                <button mat-raised-button class="closebtn" (click)="cancel()">
                    <span>إلغاء</span>
                </button>
            </div>    
            </form> -->
            <div class="container">
                <h1 mat-dialog-title dir="rtl"  class="title">{{data.title}}</h1>
                <form [formGroup]="deptForm" (ngSubmit)="save()">
                    <div class="fields" dir="rtl">
                      <div class="input-field">
                        <label>اسم القسم
                        </label>
                        <input type="text" formControlName="departmentName" placeholder=" اسم القسم">
                        <mat-error>{{ duplicatedNameErrorMessage }}</mat-error>

                      </div>
                    </div>
                    </form>
            
            <div dir="ltr" class="buttons">
                <button class="btn" mat-raised-button (click)="save()">
                    <span>حفظ</span>
                </button>
                <button mat-raised-button class="closebtn" (click)="cancel()">
                    <span>إلغاء</span>
                </button>
            </div>
            </div>
            