
mat-card{
    margin: 2%;
    text-align: left;
}

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}

.mat-50{
    width: 48%;
    margin: 1%;
}

button{
    margin: 2px;
}

.page-title {
    text-align: right;
    margin-bottom: 10px; 
    color: #015e87;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 10px;
  }