<mat-card >
  <div class="page-title">
    <h1 class="fs-3 fw-bold">بيانات الموظفين</h1>
    <hr>
  </div>

    <mat-card-header dir="rtl" >
      <mat-form-field class="customInput" appearance="outline" style="border: none;">
        <mat-label class="input">بحث</mat-label>
        <mat-icon class="icon" matPrefix>search</mat-icon>
        <input #input matInput placeholder="بحث" (input)="applyFilter()">
        <!-- <div matSuffix>
          <button *ngIf="input.value" (click)="clearSearch()">
            <mat-icon class="icon" matPrefix>close</mat-icon>
          </button>
        </div> -->
      </mat-form-field>
    </mat-card-header>
  
    <mat-card-content dir="rtl">
      <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8 center-text MainTable" >
  
        <!-- <ng-container matColumnDef="id">
          <th  mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{element.id }}</td>
        </ng-container> -->

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>اسم الموظف</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="Department">
          <th mat-header-cell *matHeaderCellDef> القسم</th>
          <td mat-cell *matCellDef="let element">{{ element.department }}</td>
        </ng-container>

        <ng-container matColumnDef="Salary">
          <th mat-header-cell *matHeaderCellDef> المرتب الاساسي</th>
          <td mat-cell *matCellDef="let element">{{ element.netSalary }}</td>
        </ng-container>
        
        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef>العنوان</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>
        <ng-container matColumnDef="PhoneNo">
          <th mat-header-cell *matHeaderCellDef>رقم التليفون</th>
          <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
        </ng-container>
        <ng-container matColumnDef="Gender">
          <th mat-header-cell *matHeaderCellDef> النوع</th>
          <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
        </ng-container>
     
        <ng-container matColumnDef="Nationality">
          <th mat-header-cell *matHeaderCellDef> الجنسية</th>
          <td mat-cell *matCellDef="let element">{{ element.nationality }}</td>
        </ng-container>

        <ng-container matColumnDef="BirthDate">
          <th mat-header-cell *matHeaderCellDef> تاريخ الميلاد</th>
          <td mat-cell *matCellDef="let element">{{ element.birthDate }}</td>
        </ng-container>

        <ng-container matColumnDef="NationalId">
          <th mat-header-cell *matHeaderCellDef>الرقم القومي</th>
          <td mat-cell *matCellDef="let element">{{ element.nationalId }}</td>
        </ng-container>
        <ng-container matColumnDef="ContractDate">
          <th mat-header-cell *matHeaderCellDef> تاريخ التعاقد</th>
          <td mat-cell *matCellDef="let element">{{ element.contractdate }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="settings">
          <th mat-header-cell *matHeaderCellDef>خصم و إضافة</th>
          <td mat-cell *matCellDef="let element">  
            <button (click)="EmployeeSettings(element.id)" mat-button color="primary"><mat-icon>settings</mat-icon></button>
          </td>
        </ng-container> -->
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>الإجراءات</th>
          <td mat-cell *matCellDef="let element">  
            <button (click)="EditEmployee(element.id)" mat-button style="color: #015e87;"><mat-icon>edit</mat-icon></button>
            <button (click)="DeleteEmployee(element.id)" mat-button style="color: #ff0000;"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
    <br />
    <mat-card-footer>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons 
      ></mat-paginator>

      <div class="button-container">

      <button dir="rtl" class="addBtn" mat-raised-button (click)="addEmployee()">إضافة موظف</button>
      </div>
    </mat-card-footer>
  </mat-card>
  