mat-card {
  margin: 2%;
}
.table-container {
  padding: 20px;
}

.page-title {
  text-align: right;
  margin-bottom: 10px; 
  color: #015e87;
  font-weight: bold;
}

.addBtn{
  background-color: #015e87;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
  width: 120px;
  border-radius: 5px;
}
 
:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px;
}

  td.mat-cell, th.mat-header-cell {
    text-align: center;
    justify-content:center;
}

td{
  text-align: center !important;
  vertical-align: middle !important;
}


.mat-column-name{
  border-left: 1px solid #d6d6d6;
  padding-left: 24px;
  text-align: center;
}
.mat-column-date{
  border-left: 1px solid #d6d6d6;
  padding-left: 24px;
  text-align: center;
}

::ng-deep .mat-sort-header-arrow[style] {

  .mat-sort-header-indicator {
    opacity: 1;
    color: white;
    font-weight: bold;
  }
}
  
th{
  background-color: #f0f0f0 !important;
  color: black;
  font-weight: bold;

  text-align: center !important;
  vertical-align: middle !important;
}

[dir=rtl] .mdc-data-table__cell, .mdc-data-table__cell[dir=rtl] {
    text-align: center;
}

[dir=rtl] .mdc-data-table__header-cell, .mdc-data-table__header-cell[dir=rtl] {
    text-align: center;
}

.mat-mdc-header-row {
    text-align: center;
}
